html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
}

#allTheThings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  margin: 4em auto;
}

.card {
  background-color: #ffe0b2;
  color: #f57c00;
  width: 48%;
  margin-bottom: 2em;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.card .popup {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff9800;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  white-space: nowrap;
}

.card:hover .popup {
  display: block;
}

.card input[type="button"] {
  width: 100%;
  border: none;
  border-radius: 15px;
  background: #8c5613;
  padding: 16px 20px;
  margin-top: 20px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  cursor: pointer;
}

.card input[type="button"]:focus {
  outline: none;
  background: #ef6c00;
}

.card input[type="button"]:active {
  transform: scale(0.9);
}

a {
  text-decoration: none;
}
