# Composer dependencies
/vendor/

# PHPUnit configuration
phpunit.xml
phpunit.xml.dist

# PHPUnit coverage reports
/coverage/
*.html

# Logs
/logs/
*.log

# Operating system files
.DS_Store
Thumbs.db

# IDE files
/.idea/
/*.sublime-project
/*.sublime-workspace
/.vscode/

# Temporary files
*.tmp
*.temp
*.bak
*.swp

# Backup files
*~ 
*.bak

# Cache files
/cache/

# Environment variables
.env
.env.local
.env.*.local

# Other files and directories to ignore
*.phar
*.lock
*.sql
*.sqlite
